<div class="page-block">

    <!-- <app-show-errors [errors]="errors"></app-show-errors> -->

    <div class="page-row"></div>

    <div class="product">
        <div class="container-fluid product-block">
            <section class="product__section--main">
                <div class="images">
                    <div class="images__carousel--list">
                        <ul>
                            <li><img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt=""></li>
                            <li><img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt=""></li>
                            <li><img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt=""></li>
                            <li><img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt=""></li>
                            <li><img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt=""></li>
                            <li><img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div class="images__main--image">
                        <img src="https://ss628.liverpool.com.mx/xl/1116069896.jpg" alt="">
                    </div>
                </div>

                <div class="description">

                    <div class="product-description">
                        <h3>Laptop Gamer Lenovo Gaming 3 Ci5 15.6 pulgadas Full HD Nvidia GeForce GTX 1650 Ti Intel Core i5 8 GB RAM 1 TB HDD 256 GB SSD</h3>
                        <p>Código de Producto</p>
                        <div>
                            <img src="" alt="">
                            <div><a href="">Ver disponibilidad en tienda</a> </div>
                        </div>
    
                        <hr>
    
                        <div class="product-description__price">
                            <p class="price__original">$28,999.00</p>
                            <p class="price__discount">$26,099.00</p>
                        </div>
    
                        <div><a href="">Ver más promociones</a></div>
    
                        <div>
                            <img src="" alt="">
                            <p>Envío gratis a todo el país</p>
                        </div>
    
                        <div>
                            <p>Cantidad</p>
                            <select class="form-select" name="" id="">
                                <option value="" disabled selected>-- Select one option --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
    
                        <div>
                            <p>Tamaño:</p>
                            <button>15.6 pulgadas</button>
                        </div>
    
                        <div>
                            <p>Descripción:</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias porro natus saepe fugiat nihil perferendis harum odio optio soluta aspernatur quia temporibus, facere ipsam illo quibusdam magnam fuga laborum quos!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias porro natus saepe fugiat nihil perferendis harum odio optio soluta aspernatur quia temporibus, facere ipsam illo quibusdam magnam fuga laborum quos!
                            </p>
                        </div>
                    </div>


                </div>
            </section>

            <section class="product__section--aside">
                <div class="product-info">
                    <div class="product-edd">
                        <p>Recibe a domicilio</p>
                        <p><a href="">Ingresa tu código postal</a> para conocer si este producto puede llegar el día de hoy</p>
                    </div>
                    <div class="buy-section">
                        <a class="buy-now" href="">Comprar Ahora</a>
                        <a class="add-car" href="">Agregar a mi bolsa</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="page-row"></div>

</div>