<header class="site-header">
    <div class="site-header__leader">
        <div class="site-header__container">
            <div class="site-header__row">
                <div class="column">
                    <div class="site-header__language">
                        <a class="complete__language" href="#">
                            Spanish
                        </a>
                        <a class="short__language" href="#">
                            SPA
                        </a>
                    </div>
                    <div class="site-header__logo">
                        <a href="#" title="The Mall">
                            <span>Infinite</span>
                        </a>
                    </div>
                    <div class="site-header__search">
                        <a href="#" class="site-search-btn">
                            <span class="site-search-btn__label">Search</span>
                            <span class="site-search-btn__icon icon-search"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="site-header__menu">
        <div class="navbar-links" (mouseenter)="dimScreen()" (mouseleave)="dimScreen()">
            <i class="fa-solid fa-bars" (click)="showNavbarLinksUl()"></i>
            <ul class="navbar-links-ul"  [class.show-navbar-links-ul]="navbarLinksVariable">
                <li>
                    <a href="#" (click)="showComputersUl()">
                        Computers
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="mega-box" [class.show-mega-box-computers]="computersMBVariable">
                        
                        <app-menu-model [departmentAreasModel]="computerAreas"></app-menu-model>

                    </div>
                </li>
                <li>
                    <a href="#" (click)="showConsolesUl()">
                        Consoles
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="mega-box" [class.show-mega-box-consoles]="consolesMBVariable">
                        
                        <app-menu-model [departmentAreasModel]="consoleAreas"></app-menu-model>

                    </div>
                </li>
                <li>
                    <a href="#" (click)="showVideogamesUl()">
                        Videogames
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="mega-box" [class.show-mega-box-videogames]="videogamesMBVariable">
                        
                        <app-menu-model [departmentAreasModel]="videogameAreas"></app-menu-model>

                    </div>
                </li>
                <li>
                    <a href="#" (click)="showComponentsUl()">
                        Components
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="mega-box" [class.show-mega-box-components]="componentsMBVariable">
                        
                        <app-menu-model [departmentAreasModel]="componentAreas"></app-menu-model>

                    </div>
                </li>
                <li>
                    <a href="#" (click)="showAccesoriesUl()">
                        Accessories
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="mega-box" [class.show-mega-box-accesories]="accesoriesMBVariable">
                        
                        <app-menu-model [departmentAreasModel]="accesoryAreas"></app-menu-model>

                    </div>
                </li>
                <li>
                    <a href="#" (click)="showWorkstationUl()">
                        Workstations
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="mega-box" [class.show-mega-box-workstation]="workstationMBVariable">
                        
                        <app-menu-model [departmentAreasModel]="workstationAreas"></app-menu-model>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div [class.home-content]="homeVariable">
    
    <router-outlet></router-outlet>
    
</div>

<footer class="site-footer">
    <div class="site-footer__header" >
        <div class="footer-lines"></div>
        <div class="site-header__logo">
            <a href="#" title="The Mall">
                <span>Infinite</span>
            </a>
        </div>
        <div class="footer-lines"></div>
    </div>

    <div class="site-footer__content">
        <div class="first-footer-section">
            <div class="footer-section__social">
                <h5>Follow Us</h5>
                <div class="footer-social-icons">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
    
            <div class="footer-section__newsletter">
                <h5>Receive our Newsletter</h5>
                <div class="footer-app__input">
                    <input type="text" placeholder="Email Address">
                    <a href="#" class="btn btn-dark">Sign Up</a>
                </div>
            </div>

            <div class="footer-section__app">
                <h5>Download the App</h5>
                <div class="footer-app__images">
                    <img src="assets/images/badge_ios@2x.png" alt="There should be a picture here">
                    <img src="assets/images/badge_android@2x.png" alt="There should be a picture here">
                </div>
            </div>
        </div>
    </div>

    <div class="site-footer__disclaimer">
        <p>© 2022 Infinite. All rights reserved.</p>
    </div>

</footer>