* {
    letter-spacing: .4px;
    text-transform: uppercase;
    font-size: .8rem;
}

/* nav {
    position: absolute;
} */

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

button {
    background-color: #f5f5f5;
    color: #3d3d3d;
    border-color: transparent;
}

button:hover {
    background-color: #d7d6d6;
    color: #3d3d3d;
    border-color: transparent;
}

.site-header {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.site-header__leader {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
}

.site-header__container {
    padding-left: 15rem;
    padding-right: 15rem;
    width: 100%;
}

.column {
    display: flex;
    justify-content: space-between;
}

.site-header__language {
    display: flex;
    align-items: center;
}

.complete__language {
    font-size: .7rem;
    text-transform: capitalize;
}

.short__language {
    display: none;
}

.site-header__logo a span {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.site-header__search {
    display: flex;
    align-items: center;
}

.site-header__search a span {
    font-size: .7rem;
    text-transform: capitalize;
}

.site-header__search a span i {
    margin-left: 5px;
}

.site-header__menu {
    border-bottom: 1px solid #e3e3e3;
}

.hamburger-icon {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 0;
}

.navbar-links ul li {
    
    list-style: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 95%;
    border-bottom: black
}

.navbar-links ul li a {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-links ul li a i {
    margin-left: 0.4rem;
    transition: all 0.3s ease-in-out;
}

.navbar-links ul li:hover a i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.navbar-links ul li:hover a {
    color: rgb(82, 82, 82);
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.site-mega {
    height: 2.5rem;
}

/* Megamenu features */
.mega-box {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.navbar-links li:hover .mega-box {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.mega-box .content {
    background: white;
    padding: 5px 20rem;
    display: flex;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.1);
}

.content .row {
    line-height: 45px;
    width: 100%;
    margin: 0.5rem;
}

.content .row:nth-child(1),
.content .row:nth-child(2) {
    border-right: 1px solid rgb(185, 185, 185);
}

.content .row header {
    font-weight: 600;
}

.content .row .mega-links {
    width: calc(25% - 30px);
    line-height: 45px;
    flex-direction: column;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.content .row .mega-links li {
    width: 100%;
    padding: 0;
}

.content .row .mega-links a {
    text-transform: capitalize;
    width: 100%;
    border-bottom: none;
    color: black;
}

.content .row .mega-links li a:hover {
    color: rgb(82, 82, 82);
    transition: all 0.3s ease-in-out;
}


@media (max-width: 1200px) {
    .navbar-links ul {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mega-box .content {
        padding: 5px 20px;
    }
}

@media (max-width: 992px) {
    .navbar-links ul {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .site-header__container {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

@media (max-width: 720px) {
    .navbar-links ul {
        display: none   ;
    }

    .hamburger-icon {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 1rem;
        cursor: pointer;
    }
    
    .hamburger-icon i{
        font-size: 1rem;
    }

    .hamburger-icon i:hover{
        color: rgb(94, 94, 94);
    }
}

@media (max-width: 400px) {
    .site-header__logo a span {
        font-size: 1rem;
    }

    .site-search-btn__label {
        display: none;
    }

    .complete__language {
        display: none;
    }

    .short__language {
        display: flex;
        font-size: .7rem;
        text-transform: capitalize;
    }
}