<header class="site-header">
    <div class="site-header__leader">
        <div class="container-fluid">
            <div class="row">
                <div class="column">
                    <div class="site-header__language">
                        <a href="">
                            Spanish
                        </a>
                    </div>
                    <div class="site-header__logo">
                        <a href="" title="The Mall">
                            <span>The Mall</span>
                        </a>
                    </div>
                    <div class="site-header__search">
                        <a href="" class="site-search-btn">
                            <span class="site-search-btn__label">Search</span>
                            <span class="site-search-btn__icon icon-search"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="site-header__menu nav-down" style="height: 39px;">
        <ul>
            <li><a href="">What's new</a></li>
            <li>
                <a href="" data-megamenu="##mm-shop">
                    Shop
                    <i class="fa-solid fa-caret-down"></i>
                </a> 
            </li>
            <li>
                <a href="" data-megamenu="##mm-shop">
                    Dine
                    <i class="fa-solid fa-caret-down"></i>
                </a> 
            </li>
            <li>
                <a href="" data-megamenu="##mm-shop">
                    Stay
                    <i class="fa-solid fa-caret-down"></i>
                </a> 
            </li>
            <li>
                <a href="" data-megamenu="##mm-shop">
                    Entertain
                    <i class="fa-solid fa-caret-down"></i>
                </a> 
            </li>
            <li>
                <a href="" data-megamenu="##mm-shop">
                    Plan your visit
                    <i class="fa-solid fa-caret-down"></i>
                </a> 
            </li>
            <li><a href="">Services</a></li>
        </ul>
    </nav>
</header>

<div></div>

<div class="container mt-5">
    <br>

    <br>

    <br>

    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>
</div>