<header class="site-header">
    <div class="site-header__leader" style="height: 41px;">
        <div class="site-header__container">
            <div class="row">
                <div class="column">
                    <div class="site-header__language">
                        <a class="complete__language" href="">
                            Spanish
                        </a>
                        <a class="short__language" href="">
                            Spa
                        </a>
                    </div>
                    <div class="site-header__logo">
                        <a href="" title="The Mall">
                            <span>Infinite</span>
                        </a>
                    </div>
                    <div class="site-header__search">
                        <a href="" class="site-search-btn">
                            <span class="site-search-btn__label">Search</span>
                            <span class="site-search-btn__icon icon-search"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="site-header__menu" style="height: 39px;">
        <div class="hamburger-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="">
                        Computers
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li>
                    <a href="" data-megamenu="##mm-shop">
                        Consoles
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li>
                    <a href="" data-megamenu="##mm-shop">
                        Videogames

                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li>
                    <a href="" data-megamenu="##mm-shop">
                        Components
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li>
                    <a href="" data-megamenu="##mm-shop">
                        Accessories
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        Workstation
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="site-mega"></div>

<div class="container-fluid mt-5">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus
        commodi voluptates ullam voluptas nesciunt alias fugit, officia, ratione
        soluta laboriosam nisi sed consequatur fuga nobis neque laborum cumque
        similique.
    </p>
</div>