<form [formGroup]="form" (submit)="saveChanges()">
    <div class="form-group mb-3">
        <label class="form-label" for="">Name</label>
        <input class="form-control" type="text" formControlName="name" placeholder="Write the product name here..">
    </div>

    <div class="form-group mb-3">
        <label class="form-label" for="">Department</label>
        <select [ngModel]="department.id" class="form-select" formControlName="departmentId" 
        (change)="setCategory()">
            <option *ngFor="let department of departmentsSelectListOptions" [value]="department.id">
                {{department.name}}
            </option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label class="form-label" for="">Category</label>
        <select class="form-select" formControlName="categoryId">
            <option *ngFor="let category of categoriesSelectListOptions" [value]="category.id">
                {{category.name}}
            </option>
        </select>
    </div>

    <button class="btn btn-primary">Send</button>
</form>